<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Algorithm Visualizer</title>
  </head>
  <body>
    <header>
      <h1 id="main-heading">Sorting Algorithm Visualizer</h1>
    </header>
    <main>
      <form class="sort-form">
        <div class="input">
          <label for="num_int">Enter number of integers</label>
          <input name="num_int" type="text" />
        </div>
        <div class="choices">
          <button id="bubble">Bubble sort</button>
          <button id="insertion">Insertion sort</button>
          <button id="merge">Merge sort</button>
          <button id="quick">Quick sort</button>
          <button id="selection">Selection sort</button>
        </div>
        <button type="submit">Sort</button>
      </form>
    </main>
  </body>
</html>
